@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/banner.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

#bars-icon {
  display: none;
}

#icon-display {
  display: none;
}

nav img {
  width: 150px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

.nav-links ul li::after {
  content: "";
  width: 0;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}



.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #fff;
  text-transform: capitalize;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
}

@media(max-width:700px) {
  .text-box h1 {
    font-size: 20px;
  }

  .testimonial-col {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: 15px;
  }

  .testimonial-col img {
    max-width: 50px;
  }

  #icon-display {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #icon-display li {
    position: relative;
    display: block;
    font-size: 30px;
    height: 60px;
    width: 60px;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 15px;
    cursor: pointer;
    transition: 0.5s;
  }

  #icon-display li:hover:before {
    filter: blur(3px);
    transform: scale(1.2);
    box-shadow: 0 0 15px #d35400;
  }

  #icon-display li:hover {
    color: #ffa502;
    box-shadow: 0 0 15px #d35400;
    text-shadow: 0 0 15px #d35400;
  }

  .nav-links ul li {
    display: block;
  }

  .overflow {
    overflow-y: hidden;
  }




  .nav-links {
    position: fixed;
    background: #f44336;
    min-height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  #bars-icon {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links ul li {
    padding: 30px;

  }

  footer {
    display: none;
  }

  footer h4 {
    font-size: 15px;
    font-weight: 400;
    align-items: center;
    justify-content: center;
  }

  .social-media ul {
    gap: 30px;

  }

  iframe {
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: 250px;
  }

  .row {
    flex-direction: column;
  }

}

.powered-by {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
}


/*--- Course---*/
#logo_name {
  margin: 60px;
  gap: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  position: relative;
  margin-right: 40px;
}





.course {
  width: 80%;
  margin: auto;
  text-align: center;
  justify-content: space-between;
  padding-top: 100px;

}

h1 {
  font-size: 36px;
  font-weight: 600;
}

p {
  color: #777;
  font-size: 14px;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 5%;
  display: inline-flex;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
}

.course-col {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  justify-content: space-around;
  box-sizing: border-box;
}



h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.course-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}


/*------Campus-----*/
.campus {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.campus-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.campus-col img {
  width: 100%;
  display: block;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background: rgba(226, 0, 0, 0.7);
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

/*----- facilities---*/
.facilities {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.facilities-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}

.facilities-col img {
  width: 100%;
  border-radius: 10px;
}

.facilities-col p {
  padding: 0;
}

.facilities-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}



/*---------Testimonials------*/

.testimonials {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}

.testimonial-col {
  flex-basis: 40%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  justify-content: center;
  background: #fff5f5;
  padding: 25px;
  cursor: pointer;
  display: flex;
}

.testimonial-col img {
  height: 40px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}

.testimonial-col p {
  padding: 0;
  letter-spacing: 2px;
}

.testimonial-col h3 {
  margin-top: 15px;
  text-align: left;
}


/*------Call To Action -----*/

.cta {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/banner2.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}

.cta h1 {
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}

@media(max-width:700px) {
  .cta {
    font-size: 24px;
  }
}


/*---------------Footer------------------------*/


.footer {
  position: fixed;
  background: #14085c;
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

#hero {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 800;
  text-align: center;
}

.icons .fa {
  color: #f44336;
  margin: 0 10px;
  cursor: pointer;
  padding: 18px 0;
}

.fa fa-heart-o {
  color: #f44336;
}

.social-media ul {
  position: relative;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.social-media ul li {
  position: relative;
  list-style: none;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.social-media ul li>.fa {
  font-size: 6em;
  -webkit-text-stroke: 2px var(--clr);
  color: transparent;
}

.social-media ul li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  border-bottom: 4px solid var(--clr);
  transition: 0.5s ease-in-out;
  font-family: fontawesome;
  text-align: center;
  line-height: 120px;
  font-size: 6em;
  color: var(--clr);
}

.social-media ul li:hover::before {
  height: 100%;
}

.social-media ul li:nth-child(1)::before {
  content: '\f099 ';
}

.social-media ul li:nth-child(2)::before {
  content: '\f16d ';
}

.social-media ul li:nth-child(3)::before {
  content: '\f230 ';
}

.social-media ul li:nth-child(4)::before {
  content: '\f16a ';
}



/*-------- About us page-----*/

.sub-header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/background.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.sub-header h1 {
  margin-top: 100px;
}

.about-us {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}

.about-col {
  flex-basis: 48%;
  padding: 30px 2px;
}

.about-col img {
  width: 100%;
}

.about-col h1 {
  padding-top: 0;
}

.about-col p {
  padding: 15px 0 25px;
}

.red-btn {
  border: 1px solid #f44336;
  background: transparent;
  color: #f44336;
}

.red-btn:hover {
  color: #fff;
}

/*-------contact page----*/
.location {
  width: 80%;
  margin: auto;
  padding: 80px 0;
}

.location iframe {
  width: 100%;
}

.contact-us {
  width: 80%;
  margin: auto;
}

.contact-col {
  flex-basis: 48%;
  margin-bottom: 30px;
}

.contact-col div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.contact-col div .fa {
  font-size: 28px;
  color: #f44336;
  margin: 10px;
  margin-right: 30px;
}

.container {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

.video-container {
  margin-top: 30px;
}




iframe {
  width: 600px;
  height: 500x;
  margin-top: 15px;
}

/*-------- slide images page-----*/